body {
    font-family: 'Inter';
    font-weight: 400;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: rgba(255, 255, 255, 1);
    background-color: #242424;
  }