*,
*::before,
*::after {
  box-sizing: border-box;
  
  
}
body {
    font-family: 'Inter';
    font-weight: 400;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: rgba(255, 255, 255, 1);
    background-color: #242424;
}

img {
    max-width: 100%;
    height: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}