$font-map: (
    'SourceSans3': (
        'family': 'SourceSans3',
        'weight': (
            'Regular': 400,
            'Bold': 700,
        )
    )
);

@each $font, $font-props in $font-map {

    $family: map-get($font-props, 'family');

    @each $weight, $weight-value in map-get($font-props, 'weight') {
        @font-face {
            font-family: $family;
            src:    local($family + '-' + $weight),
                    url('/fonts/' + $family + '-' + $weight + '.woff2') format('woff2');
            font-weight: $weight-value;
            font-style: 'normal';
            font-display: swap;
        }
    }
}